.task-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
  background-color: #0079BF;
}

.textarea {
  font-family: 'Roboto', sans-serif;
  width: -webkit-fill-available;
  vertical-align: top;
  white-space: pre-wrap;
  resize: none;
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  font-size: 18px;
}

.textarea:focus {
  outline: none;
}

.task-page__title {
  height: 20vh;
  font-size: 20px;
}

.task-page__description {
  height: -webkit-fill-available;
}

.task-page__input:focus {
  outline: none;
}

.task-page__param {
  font-size: 18px;
  margin: 5px;
  align-self: start;
}

.exit-btn {
  position: absolute;
  padding: 5px;
  top: 12px;
  right: 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: unset;
  border: none;
  width: 50px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .task-page {
  padding-top: 100px;
}
.exit-btn {
  top: 90px
}
}